<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
      <mat-toolbar>
          <span>MyStore</span>
          <span class="spacer"></span>
          <a class=""> Home </a>
          <p class="space"> | </p>
          <a  class="" (click)='log()'> Login </a>
          <p class="space"> | </p>
          <a  class=""> About </a>
      </mat-toolbar>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened>
	<mat-list role="list">
	  <mat-list-item role="listitem">Item 1</mat-list-item>
	  <mat-list-item role="listitem">Item 2</mat-list-item>
	  <mat-list-item role="listitem">Item 3</mat-list-item>
	</mat-list>
  </mat-drawer>

  <div class="-sidenav-content">
	 <mat-toolbar class="tools">
		<button mat-icon-button (click)="drawer.toggle()" color="primary">
			<mat-icon>menu</mat-icon>
		</button>
		<span> PET </span>
		<span class="spacer"></span>
		<!-- <button mat-icon-button class="icon" >
		  <mat-icon>share</mat-icon>
		</button> -->
	  </mat-toolbar>
	  <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
